## [Problem 1] Scrach on train_test_split

In [113]:
import numpy as np
import pandas as pd

seed = 0
def scratch_train_test_split(X, y, train_size=0.8):
    np.random.seed(seed)
    np.random.shuffle(X)
    
    np.random.seed(seed)
    np.random.shuffle(y)
    
    split = int(train_size * len(X))
    

    X_train = X[:split]
    y_train = y[:split]
    X_test =  X[split:]
    y_test = y[split:]

    return X_train, X_test, y_train, y_test

## [Problem 2] Creating a code to solve the classification problem

In [114]:
from sklearn.datasets import load_iris
data = load_iris()
iris = pd.DataFrame(data['data'], columns=data.feature_names)
iris['Species'] = data.target
iris = iris[iris['Species'] !=0]
iris

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
50,7.0,3.2,4.7,1.4,1
51,6.4,3.2,4.5,1.5,1
52,6.9,3.1,4.9,1.5,1
53,5.5,2.3,4.0,1.3,1
54,6.5,2.8,4.6,1.5,1
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [115]:
X = iris.drop(['Species'], axis =1)
y =  iris['Species']
X.shape, y.shape

((100, 4), (100,))

In [116]:
X = X.to_numpy()
y = y.to_numpy()

### Sample Data 1

In [117]:
np.random.seed(seed=0)
n_samples = 500
f0 = [-1, 2]
f1 = [2, -1]
cov = [[1.0,0.8], [0.8, 1.0]]
f0 = np.random.multivariate_normal(f0, cov, int(n_samples/2))
f1 = np.random.multivariate_normal(f1, cov, int(n_samples/2))
X = np.concatenate((f0, f1))
y = np.concatenate((np.ones((int(n_samples/2))), np.ones((int(n_samples/2))) *(-1))).astype(np.int)
random_index = np.random.permutation(np.arange(n_samples))
X1 = X[random_index]
y1 = y[random_index]
X1.shape, y1.shape

/home/jules/.pyenv/versions/3.7.7/lib/python3.7/site-packages/ipykernel_launcher.py:9: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if __name__ == '__main__':

((500, 2), (500,))

### Sample data 2

In [118]:
X2 = np.array([[-0.44699 , -2.8073  ],[-1.4621  , -2.4586  ],
       [ 0.10645 ,  1.9242  ],[-3.5944  , -4.0112  ],
       [-0.9888  ,  4.5718  ],[-3.1625  , -3.9606  ],
       [ 0.56421 ,  0.72888 ],[-0.60216 ,  8.4636  ],
       [-0.61251 , -0.75345 ],[-0.73535 , -2.2718  ],
       [-0.80647 , -2.2135  ],[ 0.86291 ,  2.3946  ],
       [-3.1108  ,  0.15394 ],[-2.9362  ,  2.5462  ],
       [-0.57242 , -2.9915  ],[ 1.4771  ,  3.4896  ],
       [ 0.58619 ,  0.37158 ],[ 0.6017  ,  4.3439  ],
       [-2.1086  ,  8.3428  ],[-4.1013  , -4.353   ],
       [-1.9948  , -1.3927  ],[ 0.35084 , -0.031994],
       [ 0.96765 ,  7.8929  ],[-1.281   , 15.6824  ],
       [ 0.96765 , 10.083   ],[ 1.3763  ,  1.3347  ],
       [-2.234   , -2.5323  ],[-2.9452  , -1.8219  ],
       [ 0.14654 , -0.28733 ],[ 0.5461  ,  5.8245  ],
       [-0.65259 ,  9.3444  ],[ 0.59912 ,  5.3524  ],
       [ 0.50214 , -0.31818 ],[-3.0603  , -3.6461  ],
       [-6.6797  ,  0.67661 ],[-2.353   , -0.72261 ],
       [ 1.1319  ,  2.4023  ],[-0.12243 ,  9.0162  ],
       [-2.5677  , 13.1779  ],[ 0.057313,  5.4681  ]])
y2 = np.array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])
X2.shape, y2.shape

((40, 2), (40,))

### train test split

In [119]:
X_train, X_test, y_train, y_test = scratch_train_test_split(X, y, train_size=0.8)

#sample data 1
X1_train, X1_test, y1_train, y1_test = scratch_train_test_split(X1, y1, train_size=0.8)

# sample data 2
X2_train, X2_test, y2_train, y2_test = scratch_train_test_split(X2, y2, train_size=0.8)
y_test.shape

(100,)

In [120]:
y_test.shape

(100,)

### Preprocessing

In [121]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
scaler.fit(X1_train)
scaler.fit(X2_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

X1_train = scaler.transform(X1_train)
X1_test = scaler.transform(X1_test)

X2_train = scaler.transform(X2_train)
X2_test = scaler.transform(X2_test)

### SGD

In [122]:
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix


sgd = SGDClassifier(loss='log')
sgd.fit(X_train, y_train)
sgd_predict = sgd.predict(X_test)



sgd1 = SGDClassifier(loss='log')
sgd1.fit(X1_train, y1_train)
sgd_predict1 = sgd1.predict(X1_test)


sgd2 = SGDClassifier(loss='log')
sgd2.fit(X2_train, y2_train)
sgd_predict2 = sgd2.predict(X2_test)

In [123]:
prediction = [sgd_predict, sgd_predict1, sgd_predict2]
keys = ["Iris Dataset", "Dataset1", "Dataset2"]
ytest = [y_test, y1_test, y2_test]

for a, prediction in enumerate(prediction, 0):
    print(keys[a])
    print("Accuracy = ", accuracy_score(y_true=ytest[a], y_pred=prediction)*100)
    print("Recall = ", recall_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("F1 score = ", f1_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("Precission score = ", precision_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("Confusion = ", confusion_matrix(y_true=ytest[a], y_pred=prediction))
    print('====================================================')

Iris Dataset
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[53  0]
 [ 0 47]]
====================================================
Dataset1
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[56  0]
 [ 0 44]]
====================================================
Dataset2
Accuracy =  87.5
Recall =  [1.         0.66666667]
F1 score =  [0.90909091 0.8       ]
Precission score =  [0.83333333 1.        ]
Confusion =  [[5 0]
 [1 2]]
====================================================

### SVC

In [124]:
svc = SVC()
svc.fit(X_train, y_train)
svc_predict = svc.predict(X_test)

svc1 = SVC()
svc1.fit(X1_train, y1_train)
svc_predict1 = svc1.predict(X1_test)

svc2 = SVC()
svc2.fit(X2_train, y2_train)
svc_predict2 = svc2.predict(X2_test)

In [125]:
predict = [svc_predict, svc_predict1, svc_predict2]
data = ["Iris Dataset", "Dataset1", "Dataset2"]
ytest = [y_test, y1_test, y2_test]

for a, prediction in enumerate(predict, 0):
    print("prediction of = ", data[a])
    print("Accuracy = ", accuracy_score(y_true= ytest[a], y_pred=prediction)*100)
    print("Recall = ", recall_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("F1 score = ", f1_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("Precission score = ", precision_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("Confusion = ", confusion_matrix(y_true=ytest[a], y_pred=prediction))
    print('======================================================')

prediction of =  Iris Dataset
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[53  0]
 [ 0 47]]
======================================================
prediction of =  Dataset1
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[56  0]
 [ 0 44]]
======================================================
prediction of =  Dataset2
Accuracy =  62.5
Recall =  [0.6        0.66666667]
F1 score =  [0.66666667 0.57142857]
Precission score =  [0.75 0.5 ]
Confusion =  [[3 2]
 [1 2]]
======================================================

### Decision Tree

In [126]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
dt_predict = dt.predict(X_test)


dt1 = DecisionTreeClassifier()
dt1.fit(X1_train, y1_train)
dt_predict1 = dt1.predict(X1_test)


dt2 = DecisionTreeClassifier()
dt2.fit(X2_train, y2_train)
dt_predict2 = dt2.predict(X2_test)

In [127]:
predicted = [dt_predict, dt_predict1, dt_predict2]
keys = ["Iris Dataset", "Dataset1", "Dataset2"]
ytest = [y_test, y1_test, y2_test]

for a, prediction in enumerate(predicted, 0):
    print("prediction of = ", keys[a])
    print("Accuracy = ", accuracy_score(y_true=ytest[a], y_pred=prediction)*100)
    print("Recall = ", recall_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("F1 score = ", f1_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("Precission score = ", precision_score(y_true=ytest[a], y_pred=prediction, average=None))
    print("Confusion = ", confusion_matrix(y_true=ytest[a], y_pred=prediction))
    print('===========================================================')

prediction of =  Iris Dataset
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[53  0]
 [ 0 47]]
===========================================================
prediction of =  Dataset1
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[56  0]
 [ 0 44]]
===========================================================
prediction of =  Dataset2
Accuracy =  100.0
Recall =  [1. 1.]
F1 score =  [1. 1.]
Precission score =  [1. 1.]
Confusion =  [[5 0]
 [0 3]]
===========================================================

## [Problem 3] Creating a code to solve the regression problem

In [128]:
# loading the dataset
df = pd.read_csv("/home/jules/projects/dic/mldocs/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [129]:
df1 = df.loc[:,['GrLivArea', 'YearBuilt','SalePrice']]
df1.head()

   GrLivArea  YearBuilt  SalePrice
0       1710       2003     208500
1       1262       1976     181500
2       1786       2001     223500
3       1717       1915     140000
4       2198       2000     250000

In [130]:
# split the data 
X3 = df1.loc[:,['GrLivArea', 'YearBuilt']]
y3 = df1.loc[:, ['SalePrice']]

X3 = X3.to_numpy()
y3 = y3.to_numpy()
X3.shape, y3.shape

((1460, 2), (1460, 1))

In [131]:
X3_train, X3_test, y3_train, y3_test = scratch_train_test_split(X3, y3, train_size=0.8)

scaler.fit(X3_train)
X3_train = scaler.transform(X3_train)
X3_test = scaler.transform(X3_test)


### Training

In [132]:
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score 

sgdr = SGDRegressor()
sgdr.fit(X3_train, y3_train)
sgdr_predict = sgdr.predict(X3_test)

/home/jules/.pyenv/versions/3.7.7/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [133]:
svr = SVR()
svr.fit(X3_train, y3_train)
svr_predict = svr.predict(X3_test)

/home/jules/.pyenv/versions/3.7.7/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [134]:
dtr = DecisionTreeRegressor()
dtr.fit(X3_train, y3_train)
dtr_predict = dtr.predict(X3_test)

In [135]:
predicted = [sgdr_predict, svr_predict, dtr_predict]
keys = ["SGDRgressor", "SVR", "DecisionTree"]
mse = ['MSE SGDRegressor', 'MSE SVR', 'MSE Decision Tree']
model = [sgdr, svr, dtr]

for a, prediction in enumerate(predicted, 0):
    print(keys[a])
    print('R2-score = ',r2_score(y3_test, y_pred=prediction)*100)
    print(mse[a], "= ", mean_squared_error(y3_test, y_pred=prediction))
    print('==========================================================')

SGDRgressor
R2-score =  65.03582881350903
MSE SGDRegressor =  1722126339.2851508
==========================================================
SVR
R2-score =  -0.40722351329378625
MSE SVR =  4945460407.010675
==========================================================
DecisionTree
R2-score =  49.04055592812884
MSE Decision Tree =  2509957991.0936074
==========================================================